/*
This @layer setup makes Tailwind utilities more compatible with Aura:

  1. Base reset (custom) lowest
  2. Vaadin
  3. Tailwind theme, utilities highest

Aura still provides defaults, but Tailwind utilities can override them
if needed.

See: https://tailwindcss.com/docs/theme#default-theme-variables
*/
@layer reset, vaadin, theme, utilities;

@import '@vaadin/aura/aura.css' layer(vaadin);
@import "tailwindcss/theme"     layer(theme);
@import "tailwindcss/utilities" layer(utilities);

/* minimal reset */
@layer reset {
  *, ::after, ::before {
    box-sizing: border-box;
  }
}

@theme static {
  --font-sans: 'Geist', sans-serif;
  --default-font-family: var(--font-sans);
}

html {
  --aura-font-family: var(--default-font-family);
}

main-app {
  display: block;
  min-height: 100dvh;
}

